streamlit
numpy

# YOLO
ultralytics

# FORCE headless OpenCV on Linux (Streamlit Cloud)
opencv-python-headless>=4.8
opencv-python==4.12.0.88; platform_system=="Windows"

# Torch CPU (Streamlit is CPU-only)
torch
torchvision

pillow
psutil
requests
scipy
pyyaml
